
<th:block th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="container-fluid">
        <a href="/"><img src="/images/Logo.png" alt="" width="120px"></a>

        <ul class = "nav list justify-content-center col-lg-auto me-lg-auto mb-2 mb-md-0">
            <li sec:authorize ="!isAuthenticated()">
                <a href="/user/login" class="loginBtn btn text-decoration-none me-2">
                    Log In
                </a>
            </li>
            <li sec:authorize ="isAuthenticated()">
                <a href="/user/quizzes" class="loginBtn btn text-decoration-none me-2">
                    My Quizzes
                </a>
            </li>
            <li sec:authorize ="isAuthenticated()">
                <a href="/profile" class="loginBtn btn text-decoration-none me-2">
                    Profile
                </a>
            </li>
            <li sec:authorize ="isAuthenticated()">
                <a href="/createQuiz" class="loginBtn btn text-decoration-none me-2">
                    Create Quiz
                </a>
            </li>
        </ul>
    </nav>
</th:block>