
body {
    margin: 0;
    padding: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: "Courier New";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    z-index: 100000;
    color: #5b6575;
    font-size: 16pt;
}

.nav-link {
    color: #2f585c ;
}

.loginBtn {
    text-transform: uppercase;
    font-size: 14pt;
    color: #2f585c ;
}

.carousel {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    font-size: 20pt;
    font-weight: bold;
}
.carousel-caption > p, h3 {
    color: #350064;
}
.carousel-item > img{
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    height: 100vh;
}

nav.sticky {
    background-color: #C850C0;
    opacity: 90%;
}

nav.sticky ul li a {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 46pt;
}

main {
    display: grid;
    justify-content: center;
}

.card {
    max-width: 200px;
}